{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
 },
  "plugins": ["@typescript-eslint", "css-import-order", "no-relative-import-paths"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:css-import-order/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-relative-import-paths/no-relative-import-paths": [
      "warn",
      { "allowSameFolder": true, "rootDir": "src", "prefix": "" }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["sibling", "parent", "index"],
          "type",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "{react*,react*/**}",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "@saas-fe/**/*.style",
            "group": "unknown"
          },
          {
            "pattern": "@pages/**/*.style",
            "group": "unknown"
          },
          {
            "pattern": "@components/**/*.style",
            "group": "unknown"
          },
          {
            "pattern": "./**/*.style",
            "group": "unknown"
          },
          {
            "pattern": "../**/*.style",
            "group": "unknown"
          },
          {
            "pattern": "*.style",
            "group": "unknown"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react", "unknown"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
